main{
    overflow-x: hidden;
}
.welcome-text{
   
    text-align: center;
    font-size: 20px;
    margin: 20px;
    overflow-x: hidden;
   
}
.event{
    text-align: center;
    font-weight: bold;
    font-size: 24px;
    justify-content: space-around;
}
.gardens{
    text-align: center;
    word-spacing: 10;
    justify-content: space-around;
    
}
.gtext{
    
    text-align: center;
  
    font-size: 20px;
    width: 100%;
}
