.clearfix{
    content: "";
    clear: both;
    display: table;
}
.section1{
    max-width: 50%;
    margin: 50px auto;
}
.section1 p{
    text-align: center;
}
.section2{
    max-width: 50%;
    margin: 100px auto;   
}
.event{
    text-align: center;
    font-size: 30px;
    font-weight: 300;
    color:#909497;
}
/* #ff8a80 */
.section2 h1{
    text-align: center;
    padding: 30px;
    color: #c85a54;
}
.section2 p{
    text-align: center;
}